@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin: 10px 40px;
    line-height: 1.6;
    margin-top: 8%;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: white;
    margin: 10px 40px; 
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: black;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.item1 {
    background:  hsl(31, 77%, 52%);
    color: white;
    width: 290px;
    height: 490px;
    border-radius: 6px 0px 0px 6px;
}

.item2 {
    background: hsl(184, 100%, 22%);
    color: white;
    width: 290px;
    height: 490px; 
}

.item3 {
    background: hsl(179, 100%, 13%);
    color: white;
    width: 290px;
    height: 490px;
    border-radius: 0px 6px 6px 0px;
}

.item22 {
    margin-top: 20%;
}

button {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border: none;
    padding: 13px 30px;
    text-align: center;
    display: inline-block;
    margin: 10px 40px;
    cursor: pointer;
    border-radius: 22px;
    margin-top: 25%;
}

#sedan{
   color:  hsl(31, 77%, 52%);
}

#suv{
    color: hsl(184, 100%, 22%)
}

#luxury {
    color: hsl(179, 100%, 13%);
}

.btn1:hover{
    background-color: rgba(255,255,255,0);
    outline: 2px solid white;
    cursor: pointer;
  }

button a:hover{
    color: #EBEBEB;
  }

.imago{
    margin-left: 40px;
    padding-bottom: 15px;
}

@media screen and (max-width:765px) and (min-width:376px)  {

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .item1 {
        background:  hsl(31, 77%, 52%);
        color: white;
        width: 80%;
        height: 80%;
        border-radius: 0px 0px 0px 0px;
    }

    .item2 {
        background: hsl(184, 100%, 22%);
        color: white;
        width: 80%;
        height: 80%; 
    }

    .item3 {
    background: hsl(179, 100%, 13%);
    color: white;
    width: 80%;
    height: 80%;
    border-radius: 0px 0px 0px 0px;
}

    
}

@media screen and (max-width:378px)  {

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        
    }

    .item1 {
        background:  hsl(31, 77%, 52%);
        color: white;
        width: 290px;
        height: 490px;
        border-radius: 0px 0px 0px 0px;
    }

    .item3 {
    background: hsl(179, 100%, 13%);
    color: white;
    width: 290px;
    height: 490px;
    border-radius: 0px 0px 0px 0px;
}
    
}

